

 
     .icon {

       font-size: 40px;

      color: #dddddd
     }

 
     ion-segment{

      --color:white;

      --color-activated:white;
     }

     ion-segment-button{
      --color:white;
      --color-activated:white;
     }