

 

ion-content{
 
 --background: white;  /* fallback for old browsers */
 
}

ion-item {
    
 --background: white;  /* fallback for old browsers */
 
}

ion-icon{
    padding: 15px;
    color:black ;

}

.stl{

   font-size:60px; color:white;
 
   padding:20px;
 
font-style: italic;
   border-radius: 50%;
   width:40%;
   margin: auto !important;
}

.hd{
    background:#4267B2;

    padding: 5px;
}

ion-list{
    border-style: none;
}

ion-label {
    color:black ;

} 