
  
  .title{
  padding: 10px;  border-radius:5px; width:50%;
color:black;
  margin-left:10px;
 
clear: both;
     border:1px solid #ebedf0 ;  
  margin:auto;
  opacity:0.9;
  }

 img{
  border-radius: 4%;
 
 }

 
 ion-label{
   margin-left:4px ;
   color:black;
 }
 .msg{
 
color:white;
 
background:black ;
 font-size: 30px; 
 
 float: right;
 padding: 5px;
 }

 .tm{
color:red;
  
padding:10px;
 }

 
 
 .tf{
color:#5ed61f ;
   
   

   padding:10px;
 }
.ta{
color:#21d6a1;
  
 

  padding:10px;


}

.td{
color:#1d8df9;
  
 
  padding:10px;

}
.tmm{
  color:black ;
  padding:10px;
}


.tp{
 color:#e3446a
;
  
 

  padding:10px;

}



.td{
  background:#f5da1b
;
  color:white;
 
  padding:10px;

}


